vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Aug 2004 03:27:40 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Aug 2004 03:27:40 -0000
vti_filesize:IR|562
vti_cachedlinkinfo:VX|S|../image/buttonBg.gif S|../image/textfield.gif
vti_cachedsvcrellinks:VX|NSUS|langqun/manager/ClientFiles/HelperScripts/image/buttonBg.gif NSUS|langqun/manager/ClientFiles/HelperScripts/image/textfield.gif
